// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#search{
	width: 400px;
	border-radius: 1rem;
}

a:hover {
	text-decoration: none;
}

#userImg {
	width: 36px;
	height: 36px;
	border-radius: 50%;
}

.dropdown-toggle::after {
    vertical-align: -0.25em;
}

.dropdown-menu {
    left: -35%;
}